<div id="piraBoardApp">
  <div class="modal-header">
    <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
  </div>
  <div class="modal-body">

  <img width="100px" src="{{modal.members[modal.count].photo}}"/>
  <p>
    {{modal.members[modal.count].name}}
  </p>
  <p>
    {{modal.members[modal.count].location}}
  </p>
  <p>
    {{modal.members[modal.count].bio}}
  </p>
  <p>
    {{modal.members[modal.count].email}}
  </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default left-button" ng-click="modal.count = modal.count > 0 ? modal.count - 1 : modal.members.length - 1" >
      <span class="fa fa-arrow-left"></span>
    </button>
    <button class="btn btn-default right-button" ng-click="modal.count = modal.count < modal.members.length - 1 ? modal.count + 1 : 0">
      <span class="fa fa-arrow-right"></span>
    </button>
  </div>
</div>