<div id="piraBoardApp">
  <div class="modal-header">
    <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
  </div>
  <div class="modal-body">
  <img class='photo' src="{{modal.members.active[modal.count].photo}}"/>
  <p class='name'>
    {{modal.members.active[modal.count].name}}
  </p>
  <p class='email'>
    {{modal.members.active[modal.count].email}}
  </p>  
  <p class='phone'>
    {{modal.members.active[modal.count].phonenumber}}
  </p>
  <p class='location'>
    {{modal.members.active[modal.count].location}}
  </p>
  <p class='bio'>
    {{modal.members.active[modal.count].bio}}
  </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default left-button" ng-click="modal.count = modal.count > 0 ? modal.count - 1 : modal.members.active.length - 1" >
      <span class="fa fa-arrow-left"></span>
    </button>
    <button class="btn btn-default right-button" ng-click="modal.count = modal.count < modal.members.active.length - 1 ? modal.count + 1 : 0">
      <span class="fa fa-arrow-right"></span>
    </button>
  </div>
</div>