<div id='settings'>
  <div class="container" ng-show="active">

    <form class="form" name="form" ng-submit="save(form)" novalidate>

      <div class="form-group">
        <label>Account Information</label>

        <input type="text" class="form-control" placeholder="Name"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email"></input>
      </div>

      <div>
        <button class="btn btn-success btn-lg" type="submit">
          Save
        </button>
        <a href="/">
          <button class="btn btn-danger btn-lg pull-right">
            Cancel
          </button>
        </a>
        <h5 ng-show="savedSuccessfully">
          Information Updated Successfully
        </h5>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

          <div class="form-group">
            <label>Current Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
            mongoose-error/>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
            </p>
          </div>

          <div class="form-group">
            <label>New Password</label>

            <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
            ng-minlength="3"
            required/>
            <p class="help-block"
            ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>