
#dashboard .hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  margin-bottom: 16px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
#dashboard .col-md-3 {
  text-align: left;
}
#dashboard .greeting {
  font-size: 1.4em; 
}
#dashboard #banner > div {
  height: 132px;
}
#dashboard .menu {
  font-size: 1em; 
  color: #F5F5F5;
  background: #4393B9;
  text-align: center;
}
#dashboard #sidebar {
  border-top: #4393B9 1px solid;
  border-bottom: #4393B9 1px solid;
  
}
#dashboard #sidebar ul{
  list-style: none;  
  padding: 0;
}
#dashboard #sidebar li:first-child {
  margin-top:5px;
}
#dashboard #sidebar li {
  margin-bottom:5px;
}
#dashboard #sidebar a {
  color: #F5F5F5;
}

#dashboard .create-group-input {
  
}
#dashboard .join-group-input {
  
}
#dashboard .form-control {
  margin: 5px 0;
}
#dashboard .form-group {
  margin-bottom: 0;
  width: 88%;  
}

#dashboard #dash-location {
  font-size: 3em;
}
#dashboard #live-update {

}
