<div ng-include="'components/navbar/navbar.html'"></div>

<div id='dashboard'>  
  <header class="hero-unit" id="banner">
    <div class="row">
      <div class="col-md-1">
        <p>
          <i class="fa fa-mobile fa-2x"></i>
        </p>
        <p>
          <i class="fa fa-users fa-5x"></i>
        </p>
      </div>
      <div class="col-md-3"> 
        <p class="greeting">
          Hi, {{ getCurrentUser().name }} 
        </p>
        <p>
          You belong to {{ numGroups }} groups and lead {{ numLead }} groups.
        </p>
        <button type="button" class="btn btn-default btn-sm"  ng-click="joinGroupInput = !joinGroupInput; createGroupInput = false">
          <div tooltip="Join an existing group">
            <span class="fa fa-sign-in"></span> Join
          </div>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="createGroupInput = !createGroupInput; joinGroupInput = false;">
          <div tooltip="Invite people to a new group">
            <span class="fa fa-magic" ></span> Create
          </div>
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-download"></span> Download App
        </button>
        <div class="group-input">
          <form role="form">
            <div class="form-group">
              <input type='input' id="join-group-input" class="form-control" placeholder="Name of group to join" ng-show="joinGroupInput" ng-submit="" />
              <input type='input' id="create-group-input" class="form-control" placeholder="Name of group to create" ng-show="createGroupInput" ng-submit="" />
            </div>
          </form>
        </div>
      </div>

      <div id="info-box" class="col-md-6">
        <div id="dash-location">
          My Groups
        </div>
        <div id="live-update">
          Group added.
        </div>
      </div>

    </div>
  </header>

  <div id="sidebar" class="row">
    <div class="col-md-1 menu">
      <ul>
        <li class="link"><a ui-sref="dashboardProfile">Edit Profile</a></li>
        <li class="link"><a ui-sref="dashboardGroups">My Groups</a></li>
      </ul>
    </div>
    <div class="col-md-11">
      <div ui-view></div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>PiraBoard |
        <a href="https://github.com/PiraBoard/studentBoard">Project</a> |
        <a href="https://github.com/PiraBoard/studentBoard/issues">Issues</a></p>
      </div>
    </footer>
  </div>
