<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="row">
    <!-- <div class="col-md-1"> -->
      <p>
        <img id="imageView" width="150px" ng-src="{{user.photo}}" style="border-radius: 50%"/>
      </p>
    <!-- </div> -->
    <!-- <div class="col-md-3">  -->
      <p class="greeting">
        <h3>Hi, {{ getCurrentUser().name }} </h3>
      </p>
      <p>
        You belong to {{ numberGroups }} groups and lead {{ numberLead }} groups.
      </p>
     <!--  <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-download"></span> Download App
      </button> -->
    <!-- </div> -->
 <!--    <br>
    <br> -->
    <div id="info-box" ng-show="infoBoxToggle">
      <div id="dash-location">
        <h3>Group: {{currentGroup.groupName}}</h3>
      </div>
      <div>{{currentGroup.length}} members</div>
      <br>
      <a ng-href="/dashboard/groups/{{currentGroup.groupName}}/profile">
        <button type="button" class="btn btn-default btn-sm" >
          <div class="fa fa-edit"></div><a ui-sref="settings"> Edit Profile</a>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="initPiraBoard(currentGroup)">
         Learn Names <div class="fa fa-book"></div>
       </button>
     </a>
     <div id="live-update">
     </div>
   </div>
 </div>
</header>
<br>
<!-- {{gg}} -->
<br>
<br>
{{profileToggle}}
<div id='dashboard'>  
 </header>
 <div id="panel">    
  <div class="row">
    <div id="sidebar" class="col-md-2 menu">
      <ul id="groups">
        <li id="group-label">Groups 
          <span class="fa fa-plus add-group" ng-click="addGroupToggle = !addGroupToggle"></span>
        </li>
        <ul>
          <li ng-repeat="group in usersGroups" ng-class="{'active': isCurrentGroup(group.groupName)}">
            <a ng-href="/dashboard/groups/{{group}}" ng-click=" getGroup($index)">
              <span class="fa fa-chevron-right" ng-show="false"></span>
              <span class="fa fa-angle-right" ng-show="true"></span> 
              {{group}}
            </a>
          </li>
        </ul>
      </ul>

      <form role="form" ng-show="addGroupToggle" ng-submit="createGroup(groupName)">
        <input type='input' id="add-group-input" class="form-control" placeholder="Create a new group" ng-model="groupName" />
        </form>
    </div>
    <div class="col-md-10">
      <div ui-view>
        <i class="fa fa-tachometer fa-5x"></i>
      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>PiraBoard |
      <a href="https://github.com/PiraBoard/studentBoard">Project</a> |
      <a href="https://github.com/PiraBoard/studentBoard/issues">Issues</a></p>
    </div>
  </footer>
</div>
