
#dashboard .hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  margin-bottom: 16px;
}
#dashboard .col-md-3 {
  text-align: left;
}
#dashboard .greeting {
  font-size: 1.4em; 
}
#dashboard #banner #user-image {
  border-radius: 50%;
  width: 60px;
  margin-bottom: 10px;
}
#dashboard #banner #user-stats {
  font-size: 0.8em;
  text-align: center;
}
#dashboard .menu {
  font-size: 1em; 
  color: #F5F5F5;
  background: #4393B9;
  text-align: center;
}
#dashboard .form-control {
  margin: 5px 0;
}
#dashboard .form-group {
  margin-bottom: 0;
  width: 88%;  
}

#dashboard #dash-location {
  font-size: 5em;
}
#dashboard #live-update {

}

#dashboard #panel {
  border-top: #4393B9 1px solid;
  border-bottom: #4393B9 1px solid;
}

#dashboard #panel #sidebar {
  text-align: left;
  padding: 0;
}

#dashboard #panel #sidebar #groups {
  padding-left: 20px;
}
#dashboard #panel #sidebar #group-label {
  font-weight: bold;
}

#dashboard #panel #sidebar ul{
  list-style: none;  
  padding-left: 0px;
}

#dashboard #panel #sidebar li:first-child {
  margin-top:5px;
}

#dashboard #panel #sidebar li {
  margin-bottom:2px;
}

#dashboard #panel #sidebar li:last-child {
  margin-bottom:5px;
}

#dashboard #panel #sidebar a {
  color: #F5F5F5;
}

#dashboard #panel #sidebar ul > ul{
  padding-left: 10px;
}

#dashboard #panel #sidebar .active a {
  padding-left: 10px;
}

#dashboard #panel > .row {
  display: flex;
  flex: 1 0 auto;

}

#dashboard #panel > .row > div[class*="col-"] {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

#dashboard #panel #sidebar .add-group:hover {
  cursor: pointer;
}
#dashboard #panel #sidebar #add-group-input {
  margin: 0;
  padding: 6px 12px 6px 20px;
  border-radius: 0;
}

#dashboard .fa-tachometer {
  color: #e7e7e7;
  font-size: 10em;
  margin-left: 40px;
}

