<div ng-include="'components/navbar/navbar.html'"></div>

<div id='dashboard'>  
  <header class="hero-unit" id="banner">
    <div class="row">
      <div class="col-md-2" id="user-stats"> 
        <img id="user-image" ng-src="{{user.photo}}"/>
        <p class="greeting">
          Hi, {{ getCurrentUser().name }} 
        </p>
        <p>
          You belong to {{ numberGroups }} groups and lead {{ numberLead }} groups.
        </p>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-download"></span> Download App
        </button>
      </div>
      <div id="info-box" class="col-md-10" ng-show="infoBoxToggle">
        <div id="dash-location">
          {{currentGroup.groupName}}
        </div>
        <p>
          {{currentGroup.active.length}} members
        </p>
        <button type="button" class="btn btn-default btn-sm" ui-sref="settings">
          <div class="fa fa-edit"></div>Edit Profile
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="initPiraBoard(currentGroup)">
         Learn Names <div class="fa fa-book"></div>
       </button>
       <div id="live-update" ng-hide="updateTrigger" ng-bind="updateMessage"></div>
     </div>
   </div>
 </header>
{{usersGroups}}
 <div id="panel">    
  <div class="row">
    <div id="sidebar" class="col-md-2 menu">
      <ul id="groups">
        <li id="group-label">Groups 
          <span class="fa fa-plus add-group" ng-click="addGroupToggle = !addGroupToggle"></span>
        </li>
        <ul>
          <li ng-repeat="group in usersGroups" ng-class="{'active': isCurrentGroup(usersGroups[$index])}">
            <a ng-href="/dashboard/groups/{{group}}" ng-click=" getGroup($index)">
              <span class="fa fa-chevron-right" ng-show="false"></span>
              <span class="fa fa-angle-right" ng-show="true"></span> 
              {{group}}
            </a>
          </li>
        </ul>
      </ul>

      <form role="form" ng-show="addGroupToggle" ng-submit="createGroup(groupName)">
        <input type='input' id="add-group-input" class="form-control" placeholder="Create a new group" ng-model="groupName" />
      </form>
    </div>
    <div id="bigpanel" class="col-md-10">
      <div ui-view>
        <i class="fa fa-tachometer fa-5x"></i>
      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>PiraBoard |
      <a href="https://github.com/PiraBoard/studentBoard">Project</a> |
      <a href="https://github.com/PiraBoard/studentBoard/issues">Issues</a></p>
    </div>
  </footer>
</div>
