<div id="group" class="col-md-5">
  <h4>
  {{currentGroup.name}}
  </h4>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="member in currentGroup.members">
        <td>
          {{member.name}}
        </td>
        <td>
          {{member.role}}
        </td>        
        <td ng-show="true" class="delete">
          <span class="fa fa-times"></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>